@model List<ICBF_Project.Models.Usuario>
@{
    ViewData["Title"] = "Usuarios";
}
<div class="text-center">
    <div class="alert alert-success">
        <h2 class="display-4"> CRUD USUARIOS</h2>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h5>Lista de Usuarios</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-success btn-sm" asp-action="Usuario_Detalle" asp-controller="Usuarios" asp-route-pkIdUsuario="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre Usuario</th>
                    <th>Contraseña</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cedula</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Email</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreUsuario</td>
                        <td>@item.Contrasena</td>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.Cedula</td>
                        <td>@item.Telefono</td>
                        <td>@item.Direccion</td>
                        <td>@item.Email</td>
                        <td>@item.FechaNacimiento</td>
                        <td>@item.oRol.NombreRol</td>
                        <td>
                            <a class=" btn btn-primary btn.sm" asp-action="Usuario_Detalle" asp-controller="Usuarios" asp-route-pkIdUsuario="@item.PkIdUsuario">Editar</a>
                            <a class=" btn btn-danger btn.sm" asp-action="Eliminar" asp-controller="Usuarios" asp-route-pkIdUsuario="@item.PkIdUsuario">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>